# 112-1 ML_HW5_Group homework
* Group: 3
* Member: 邱寶樟(26)

In [1]:
import warnings
warnings.filterwarnings("ignore")

##### 1. Please use decision tree regression and neural network regression to see if they improve the performances of throughput  as compared with the previous homework assignments.

In [2]:
import pandas as pd 
df = pd.read_csv("throughput.csv")
df.head(2)

,Y,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16
0,1546.836248,X1-1,X2-1,X3-1,X4-1,X5-1,0.025286,50,48,105,3.0,2.0,0.45,8,1600,8,0.8
1,1261.722593,X1-1,X2-1,X3-1,X4-1,X5-1,0.034876,67,34,105,3.0,2.0,0.45,8,1600,10,0.8

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13186 entries, 0 to 13185
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Y       13186 non-null  float64
 1   X1      13186 non-null  object
 2   X2      13186 non-null  object
 3   X3      13186 non-null  object
 4   X4      13185 non-null  object
 5   X5      13186 non-null  object
 6   X6      13186 non-null  float64
 7   X7      13186 non-null  int64
 8   X8      13186 non-null  int64
 9   X9      13186 non-null  int64
 10  X10     13186 non-null  float64
 11  X11     13186 non-null  float64
 12  X12     13186 non-null  float64
 13  X13     13186 non-null  int64
 14  X14     13186 non-null  int64
 15  X15     13186 non-null  int64
 16  X16     13186 non-null  float64
dtypes: float64(6), int64(6), object(5)
memory usage: 1.7+ MB

In [4]:
throughput = df.dropna()
throughput.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13185 entries, 0 to 13185
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Y       13185 non-null  float64
 1   X1      13185 non-null  object
 2   X2      13185 non-null  object
 3   X3      13185 non-null  object
 4   X4      13185 non-null  object
 5   X5      13185 non-null  object
 6   X6      13185 non-null  float64
 7   X7      13185 non-null  int64
 8   X8      13185 non-null  int64
 9   X9      13185 non-null  int64
 10  X10     13185 non-null  float64
 11  X11     13185 non-null  float64
 12  X12     13185 non-null  float64
 13  X13     13185 non-null  int64
 14  X14     13185 non-null  int64
 15  X15     13185 non-null  int64
 16  X16     13185 non-null  float64
dtypes: float64(6), int64(6), object(5)
memory usage: 1.8+ MB

In [5]:
throughput['X6']

0        0.025286
1        0.034876
2        0.079237
3        0.113288
4        0.113778
           ...
13181    0.149699
13182    0.300309
13183    0.300309
13184    0.154297
13185    0.163640
Name: X6, Length: 13185, dtype: float64

In [6]:
from sklearn.preprocessing import MinMaxScaler
ss = MinMaxScaler()
X_scaled = ss.fit_transform(throughput.iloc[:, 6:])
pd.DataFrame(X_scaled, columns = throughput.columns[ 6 :])

,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16
0,0.001773,0.057196,0.055133,0.078571,0.026316,0.000000,0.030864,0.000000,0.666110,0.010526,0.333333
1,0.002447,0.088561,0.028517,0.078571,0.026316,0.000000,0.030864,0.000000,0.666110,0.015789,0.333333
2,0.005567,0.289668,0.319392,0.214286,0.157895,0.105263,0.216049,0.000000,0.088481,0.015789,0.333333
3,0.007962,0.289668,0.319392,0.214286,0.157895,0.105263,0.216049,0.000000,0.088481,0.015789,0.333333
4,0.007997,0.289668,0.319392,0.214286,0.157895,0.105263,0.216049,0.000000,0.088481,0.015789,0.333333
...,...,...,...,...,...,...,...,...,...,...,...
13180,0.010523,0.848708,0.433460,0.014286,0.263158,0.421053,0.493827,0.323760,0.023372,0.221053,0.333333
13181,0.021117,0.365314,0.374525,0.042857,0.157895,0.223684,0.370370,0.402089,0.068447,0.321053,0.166667
13182,0.021117,0.365314,0.374525,0.042857,0.157895,0.223684,0.370370,0.402089,0.068447,0.057895,0.166667
13183,0.010847,0.647601,0.585551,0.142857,0.210526,0.328947,0.246914,0.501305,0.027546,0.468421,0.166667
13184,0.011504,0.647601,0.585551,0.142857,0.210526,0.328947,0.246914,0.501305,0.027546,0.468421,0.166667

In [7]:
cat_df = pd.concat([throughput['X1'], throughput['X2'], throughput['X3'], throughput['X4'], throughput['X5']], axis=1)
cat_df = pd.get_dummies(cat_df).astype('int64')

cat_df.head(2)

,X1_X1-1,X1_X1-2,X2_X2-1,X2_X2-2,X2_X2-3,X3_X3-1,X3_X3-2,X3_X3-3,X3_X3-4,X4_X4-1,...,X5_X5-20,X5_X5-21,X5_X5-22,X5_X5-3,X5_X5-4,X5_X5-5,X5_X5-6,X5_X5-7,X5_X5-8,X5_X5-9
0,1,0,1,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,0,1,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [8]:
data = pd.concat([pd.DataFrame(X_scaled, columns = throughput.columns[ 6 :]), 
                  pd.DataFrame(cat_df.values, columns = cat_df.columns[0:]),
                  pd.DataFrame(throughput['Y'].values, columns = [throughput.columns[ 0 ]])], axis = 1) 

data = data.reset_index(drop=True)
data.head(2)

,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,...,X5_X5-21,X5_X5-22,X5_X5-3,X5_X5-4,X5_X5-5,X5_X5-6,X5_X5-7,X5_X5-8,X5_X5-9,Y
0,0.001773,0.057196,0.055133,0.078571,0.026316,0.0,0.030864,0.0,0.66611,0.010526,...,0,0,0,0,0,0,0,0,0,1546.836248
1,0.002447,0.088561,0.028517,0.078571,0.026316,0.0,0.030864,0.0,0.66611,0.015789,...,0,0,0,0,0,0,0,0,0,1261.722593

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data.iloc[:, :-1], data.iloc[:, -1], test_size=0.2, random_state=42)

(a) decision tree

In [10]:
from sklearn.tree import DecisionTreeRegressor

tree_reg = DecisionTreeRegressor(max_depth=2, random_state=42)
tree_reg.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=2, random_state=42)

In [11]:
tree_reg.predict(X_test)

array([1268.35079517, 1268.35079517,  382.64955087, ...,  382.64955087,
        382.64955087, 1268.35079517])

In [12]:
from statsmodels.tools.eval_measures import rmse 
from sklearn.metrics import r2_score

y_test_pred = tree_reg.predict(X_test)
print('Test RMSE:' , round(rmse(y_test, y_test_pred), 4))
print('Test R^2:' , round(r2_score(y_test, y_test_pred), 4))

y_train_pred = tree_reg.predict(X_train)
print('Train RMSE:' , round(rmse(y_train, y_train_pred), 4))
print('Train R^2:' , round(r2_score(y_train, y_train_pred), 4))

Test RMSE: 198.6524
Test R^2: 0.8202
Train RMSE: 185.2764
Train R^2: 0.8373

(b) neural network

In [13]:
import keras
from keras import models
from keras import layers

def build_model():
    model = models.Sequential()
    model.add(layers.Dense(64, activation='relu',
                           input_shape=(X_train.shape[1],)))
    model.add(layers.Dense(64, activation='relu'))
    model.add(layers.Dense(1))
    model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
    return model

In [14]:
model = build_model()
model.fit(X_train, y_train,
          epochs=80, batch_size=16, verbose=0)
test_mse_score, test_mae_score = model.evaluate(X_test, y_test)
train_mse_score, train_mae_score = model.evaluate(X_train, y_train)

83/83 [==============================] - 0s 480us/step - loss: 15955.6758 - mae: 47.2510
330/330 [==============================] - 0s 427us/step - loss: 9865.7686 - mae: 39.5697

##### 2. Please use decision tree classification and neural network classification to see if they improve the performances of ad clicking as compared with the previous homework assignments.

In [15]:
import pandas as pd
click = pd.read_excel("HW4_click_16k.xlsx")
click.head(2)

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,2297467937110095872,0,14103005,1005,0,85f751fd,c4e18dd6,50e219e0,d36838b1,0e8616ad,...,1,2,23804,320,50,2726,3,803,-1,229
1,12121228733115439104,0,14102201,1005,1,5b4d2eda,16a36ef3,f028772b,ecad2386,7801e8d9,...,1,0,19950,320,50,1800,3,167,100075,23

In [16]:
click.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000 entries, 0 to 15999
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                16000 non-null  uint64
 1   click             16000 non-null  int64
 2   hour              16000 non-null  int64
 3   C1                16000 non-null  int64
 4   banner_pos        16000 non-null  int64
 5   site_id           16000 non-null  object
 6   site_domain       16000 non-null  object
 7   site_category     16000 non-null  object
 8   app_id            16000 non-null  object
 9   app_domain        16000 non-null  object
 10  app_category      16000 non-null  object
 11  device_id         16000 non-null  object
 12  device_ip         16000 non-null  object
 13  device_model      16000 non-null  object
 14  device_type       16000 non-null  int64
 15  device_conn_type  16000 non-null  int64
 16  C14               16000 non-null  int64
 17  C15               16000 non-null  int64
 18  C16               16000 non-null  int64
 19  C17               16000 non-null  int64
 20  C18               16000 non-null  int64
 21  C19               16000 non-null  int64
 22  C20               16000 non-null  int64
 23  C21               16000 non-null  int64
dtypes: int64(14), object(9), uint64(1)
memory usage: 2.9+ MB

In [17]:
X_cat = click.drop(columns = ["click"])
X_cat = X_cat.applymap(str)
X_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000 entries, 0 to 15999
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                16000 non-null  object
 1   hour              16000 non-null  object
 2   C1                16000 non-null  object
 3   banner_pos        16000 non-null  object
 4   site_id           16000 non-null  object
 5   site_domain       16000 non-null  object
 6   site_category     16000 non-null  object
 7   app_id            16000 non-null  object
 8   app_domain        16000 non-null  object
 9   app_category      16000 non-null  object
 10  device_id         16000 non-null  object
 11  device_ip         16000 non-null  object
 12  device_model      16000 non-null  object
 13  device_type       16000 non-null  object
 14  device_conn_type  16000 non-null  object
 15  C14               16000 non-null  object
 16  C15               16000 non-null  object
 17  C16               16000 non-null  object
 18  C17               16000 non-null  object
 19  C18               16000 non-null  object
 20  C19               16000 non-null  object
 21  C20               16000 non-null  object
 22  C21               16000 non-null  object
dtypes: object(23)
memory usage: 2.8+ MB

In [18]:
X_cat_ohe = pd.get_dummies(X_cat)
X_cat_ohe.head(2)

,id_1000336762165762944,id_10003919055083980800,id_10006200901874970624,id_10007923530974910464,id_1001053889111384064,id_1001079325690707968,id_10012456512296960000,id_10012617368826359808,id_10012771636043689984,id_10015807749419769856,...,C21_70,C21_71,C21_76,C21_79,C21_82,C21_90,C21_91,C21_93,C21_94,C21_95
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [19]:
from sklearn.model_selection import train_test_split
X_train2, X_test2, y_train2, y_test2 = train_test_split(X_cat_ohe, click.iloc[:, 1], test_size=0.30)

(a) decision tree

In [20]:
from sklearn.tree import DecisionTreeRegressor

tree_reg = DecisionTreeRegressor(max_depth=2, random_state=42)
tree_reg.fit(X_train2, y_train2)

DecisionTreeRegressor(max_depth=2, random_state=42)

In [21]:
from sklearn.metrics import mean_squared_error, r2_score

y_test2_pred = tree_reg.predict(X_test2)
print('Test RMSE:' , round(mean_squared_error(y_test2, y_test2_pred), 4))
print('Test R^2:' , round(r2_score(y_test2, y_test2_pred), 4))

y_train2_pred = tree_reg.predict(X_train2)
print('Train RMSE:' , round(mean_squared_error(y_train2, y_train2_pred), 4))
print('Train R^2:' , round(r2_score(y_train2, y_train2_pred), 4))

Test RMSE: 0.1363
Test R^2: 0.0324
Train RMSE: 0.1353
Train R^2: 0.0425

(b) neural network

In [22]:
import keras
from keras import models
from keras import layers

def build_model():
    model = models.Sequential()
    model.add(layers.Dense(64, activation='relu',
                           input_shape=(X_train2.shape[1],)))
    model.add(layers.Dense(64, activation='relu'))
    model.add(layers.Dense(1))
    model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
    return model

model = build_model()
model.fit(X_train2, y_train2,
          epochs=80, batch_size=16, verbose=0)
test_mse_score, test_mae_score = model.evaluate(X_test2, y_test2)
train_mse_score, train_mae_score = model.evaluate(X_train2, y_train2)

150/150 [==============================] - 1s 3ms/step - loss: 0.2057 - mae: 0.2967
350/350 [==============================] - 1s 2ms/step - loss: 6.6916e-04 - mae: 0.0155